$auth_close: (position: -146px -42px, width: 20px, height: 21px);
$auth_login: (position: -300px -37px, width: 16px, height: 16px);
$auth_mail: (position: -300px -181px, width: 16px, height: 16px);
$auth_pass: (position: -300px -253px, width: 16px, height: 16px);
$bell_ico: (position: 0px -251px, width: 16px, height: 18px);
$bell_ico_active: (position: -36px -251px, width: 16px, height: 18px);
$box_ico: (position: 0px -135px, width: 20px, height: 20px);
$box_ico_active: (position: -188px -115px, width: 18px, height: 18px);
$calc_ico: (position: -102px -44px, width: 20px, height: 26px);
$controls_arrow: (position: -265px -117px, width: 10px, height: 17px);
$detail_360_active: (position: -52px 0px, width: 30px, height: 20px);
$detail_dots: (position: -78px -213px, width: 29px, height: 8px);
$detail_image_active: (position: 0px 0px, width: 32px, height: 23px);
$detail_mail_ico: (position: -72px -251px, width: 20px, height: 14px);
$detail_map_view_active: (position: -94px -95px, width: 26px, height: 20px);
$detail_streetview_active: (position: -188px 0px, width: 19px, height: 19px);
$detail_video_active: (position: 0px -95px, width: 28px, height: 20px);
$facebook: (position: -102px 0px, width: 24px, height: 24px);
$fat-search-white: (position: -36px -289px, width: 16px, height: 16px);
$fat-search: (position: -144px -289px, width: 16px, height: 16px);
$filter_ico: (position: -227px -114px, width: 18px, height: 18px);
$filter_ico_active: (position: 0px -213px, width: 18px, height: 18px);
$garbage: (position: -265px -215px, width: 10px, height: 11px);
$google: (position: -52px -40px, width: 24px, height: 24px);
$grid-view: (position: -146px -83px, width: 20px, height: 20px);
$heart: (position: -300px -217px, width: 16px, height: 16px);
$heart_ico: (position: -40px -175px, width: 20px, height: 18px);
$heart_ico_active: (position: -80px -175px, width: 20px, height: 18px);
$list-map-view: (position: -40px -135px, width: 24px, height: 16px);
$list-view: (position: -38px -213px, width: 20px, height: 16px);
$list_author: (position: -198px -175px, width: 9px, height: 9px);
$list_date: (position: -112px -251px, width: 9px, height: 9px);
$location-arrow: (position: -108px -289px, width: 16px, height: 16px);
$mail: (position: 0px -289px, width: 16px, height: 16px);
$mail_ico: (position: -265px -154px, width: 14px, height: 10px);
$map-view: (position: -48px -95px, width: 26px, height: 20px);
$minus: (position: -72px -289px, width: 16px, height: 16px);
$owl_arrow: (position: 0px -43px, width: 20px, height: 32px);
$pencil_ico: (position: -146px 0px, width: 22px, height: 22px);
$phone: (position: -300px -73px, width: 16px, height: 16px);
$photo-camera: (position: -300px -109px, width: 16px, height: 16px);
$plus: (position: -300px -145px, width: 16px, height: 16px);
$popup_close: (position: -300px 0px, width: 16px, height: 17px);
$print_ico: (position: -120px -175px, width: 20px, height: 18px);
$print_ico_active: (position: 0px -175px, width: 20px, height: 18px);
$screen_ico: (position: -227px -76px, width: 18px, height: 18px);
$screen_ico_active: (position: -227px -38px, width: 18px, height: 18px);
$search_ico: (position: -160px -175px, width: 18px, height: 18px);
$share_ico: (position: -227px -152px, width: 18px, height: 18px);
$share_ico_active: (position: -188px -39px, width: 18px, height: 18px);
$small_search_ico: (position: -265px -184px, width: 11px, height: 11px);
$sort_ico: (position: -227px 0px, width: 18px, height: 18px);
$sort_ico_active: (position: -188px -77px, width: 18px, height: 18px);
$user_ico: (position: -265px -41px, width: 14px, height: 18px);
$user_ico_active: (position: -265px -79px, width: 14px, height: 18px);
$visibility_ico: (position: -128px -135px, width: 24px, height: 14px);
$visibility_ico_active: (position: -84px -135px, width: 24px, height: 14px);
$waste_ico: (position: -265px 0px, width: 15px, height: 21px);
