
.mainpage-filter {
    position: absolute;
    z-index: 20;
    height: 196px;
    background: #fff;
    border-bottom: 2px solid #D3D2D3;
    padding: 0 34px;
    width: 1214px;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    &__results{
        color: #333;
        font-size: 14px;
        font-weight: 400;
        a{
            color: #333;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__title {
        position: relative;
        color: #000;
        font-size: 16px;
        margin: 17px 0 16px 24px;
        display: block;

        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: -23px;
            background: transparent url($images-path + 'sprite.png') map_get($fat-search, position) no-repeat;
            width: map_get($fat-search, width);
            height: map_get($fat-search, height);
        }
    }

    &__row {
        display: flex;
        align-items: center;
        margin: 0 0 10px;
        min-height: 34px;
        &_space {
            justify-content: space-between;
        }

        &:last-child {
            margin: 0;
        }
    }

    &__item{
        margin: 0 19px 0 0;
        width: 175px;
        position: relative;
        height: 34px;
        &_wide{
            width: 370px;
        }
        &_range{
            top: -2px;
            height: auto;
        }
        &_last{
            margin: 0;
        }
        input{
            min-height: 34px;
            width: 100%;
            color: #333;
            border: 1px solid #ccc;
            background: #fff;
            border-radius: 4px;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            white-space: nowrap;
        }
        &-label {
            position: absolute;
            top: -14px;
            font-size: 12px;

            span {
                font-weight: 700;
            }
        }
    }



    &__other {
        cursor: pointer;
        position: relative;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        padding: 0 0 0 20px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: transparent url($images-path + 'sprite.png') map_get($plus, position) no-repeat;
            width: map-get($plus, width);
            height: map_get($plus, height);
        }

        &_opened {
            &::before {
                background-position: map_get($minus, position);
            }
        }
    }

    &__search-button {
        cursor: pointer;
        position: relative;
        background: #9e0b0f;
        color: #fff;
        font-size: 14px;
        text-align: center;
        border-radius: 4px;
        width: 175px;
        height: 34px;
        line-height: 36px;

        &::before {
            content: '';
            position: absolute;
            left: 19px;
            top: 9px;
            background: transparent url($images-path + 'sprite.png') map_get($fat-search-white, position) no-repeat;
            width: map_get($fat-search-white, width);
            height: map_get($fat-search-white, height);
        }
    }

    &__features {
        display: none;
        position: absolute;
        top: 194px;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 0 34px 16px;
    }

    &__feature{
        cursor: pointer;
        width: 175px;
        position: relative;
        display: inline-block;
        padding-left: 20px;
        color: #333;
        font-size: 14px;
        height: 16px;
        line-height: 16px;
        margin: 0px 19px 15px 0px;

        &:nth-child(6){
            margin: 0px 0px 15px 0px;
        }
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            border: 2px solid #333;
            border-radius: 4px;
            transition: 0.4s;
            box-sizing: border-box;
        }
        &_active{
            &::before{
                background: url(../i/origin/checkbox.png) no-repeat center;
                background-size: cover!important;
            }
        }
    }
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background: #9e0b0f;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #ccc;
}

.dropdown-menu .selected > a,
.dropdown-menu .selected > a:focus,
.dropdown-menu .selected > a:hover {
    background: #9e0b0f;
    color: #fff;
}

.noUi-horizontal .noUi-handle {
    background: #FFCD00;
    width: 16px;
    height: 16px;
    border: none;
    box-shadow: none;
    border-radius: 100%;
    left: 0;
    top: -7px;
    cursor: pointer;
}

.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.noUi-horizontal {
    height: 3px;
}

.noUi-target {
    width: calc(100% - 17px);
    background: #D8D8D8;
    border: none;
    box-shadow: none;
    top: 12px;

    &::after {
        content: '';
        background: inherit;
        width: 17px;
        height: 3px;
        position: absolute;
        right: -15px;
        top: 0;
        border-radius: 0 4px 4px 0;
    }
}
